*{
	box-sizing: border-box;
}
label{
  position: absolute;
  top: 0px; 
  left: 0px; 
  line-height: 35px;
  text-align: center;
  background: rgb(100,100,150);
  font-size: 2.2em;
  font-weight: bold;
  width: 100px;
  height: 35px;
  color: white;
  border-radius: 4px;
  z-index: 1;
  margin-bottom: 100px;
}
input:checked ~ .Menu{
  position: absolute; 
  left: 0px;
  transition: all 0.5s ease;
}
.Menu{
	position: absolute;
	top: 36px;
	left: -320px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: left;
	display: flex;
	flex-flow: row;
	background-color: rgba(100,100,100,0.5);
	transition: all 0.5s ease;

}
.button{
	position: fixed;
	left: -20px;
	top: -20px;
}
.menu{
	display: flex;
	flex-flow: row;
	text-align: center;
}
li{
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black;
	background-color: rgb(80,110,150);
}
li:hover{
	background-color: lightblue;
}
.Heim{
	position: fixed;
	left: -500px;
}
a:link{
	color: orange;
}
a:visited{
	color: orange;
}
@media screen and (min-width: 0px){
	.menu{
		padding: 0px;
		font-size: 12px;
		display: flex;
		flex-flow: row;
	}
	.menu li{
		padding: 0px;
	}
	body{
		background-image: url("bak.jpg");
	}
	.sand{
		margin: 0 auto;
		width: 750px;
		border-right: red 1px solid;
		border-left: red 1px solid;
		height: 2000px;
		color: white;
	}
	body{
		background-image: url("bak.jpg");
		height: 100%;

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}
}


@media screen and (min-width: 37.5em){
	.menu{
		font-size: 20px;
		display: flex;
		flex-flow: row;
	}
	body{
		background-image: url("bak.jpg");
	}
	.sand{
		margin: 0 auto;
		width: 750px;
		border-right: red 1px solid;
		border-left: red 1px solid;
		height: 2000px;
		color: white;
	}

	body{
		background-image: url("bak.jpg");
		height: 100%;

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}

}
@media screen and (min-width: 48em){
	.Menu{
		display: flex;
		flex-flow: column;
		width: 200px;
		height: 80%;
		position: fixed;
	}
	.menu{
		display: flex;
		flex-flow: column;
		font-size: 26px;
	}
	li{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.Heim{
		position: static;
	}
	body{
		background-image: url("bak.jpg");
	}
	.sand{
		margin: 0 auto;
		width: 350px;
		border-right: red 1px solid;
		border-left: red 1px solid;
		height: 2000px;
		color: white;
	}
	
	body{
		background-image: url("bak.jpg");
		height: 100%;

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}

}
@media screen and (min-width: 60em){
	.Menu{
		display: flex;
		flex-flow: column;
		width: 200px;
		height: 80%;
		position: fixed;
	}
	.menu{
		display: flex;
		flex-flow: column;
		font-size: 26px;
	}
	li{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.Heim{
		position: static;
	}
	body{
		background-image: url("bak.jpg");
	}
	.sand{
		margin: 0 auto;
		width: 540px;
		border-right: red 1px solid;
		border-left: red 1px solid;
		height: 2000px;
		color: white;
	}
	body{
		background-image: url("bak.jpg");
		height: 100%;

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}
}
@media screen and (min-width: 80em){
	.Menu{
		display: flex;
		flex-flow: column;
		width: 250px;
		height: 80%;
		position: fixed;
	}
	.menu{
		display: flex;
		flex-flow: column;
	}
	li{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.Heim{
		position: static;
	}
	.sand{
		margin: 0 auto;
		width: 750px;
		border-right: red 1px solid;
		border-left: red 1px solid;
		height: 2000px;
		color: white;
	}
	body{
		background-image: url("bak.jpg");
		height: 100%;

		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

	}
}