.Menu{
	border: 1px solid black;
	text-align: left;
}
.button{
	position: fixed;
	left: -20px;
	top: -20px;
}
label{
	font-size: 2em;
}
@media screen and (min-width: 37.5em){

}
@media screen and (min-width: 48em){

}
@media screen and (min-width: 60em){

}
@media screen and (min-width: 80em){

}
